// todo: respond-to


@mixin ie9-flex-table {
  .ie9 & {
    display: table;
    width: 100%;
  }
}

@mixin ie9-flex-table-cell {
  .ie9 & {
    display: table-cell;
    float: left;
  }
}

@mixin grid-container {
  width: 100%;
  max-width: $grid-max-width;
  margin: auto;
}

@mixin slinky-grid {
  @include ie9-flex-table;

  // padding gutters
  &,
  * {
    box-sizing: border-box;
  }

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  flex-basis: 100%;

  margin: auto;
  max-width: $grid-max-width;

  width: 100%;
}

@mixin slinky-tile-flex {
  @include ie9-flex-table-cell;
  // Flex child.
  justify-content: flex-start;
  align-items: stretch;
  // This stops the tile content stretching the tile.
  flex-basis: 0;
  //width: 100%;

  // Flex parent.
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  //padding: 0;
  //margin: 0;

  flex-grow: 1;
  width: auto;

  // todo: should this be all block elements?
  & > div {
    max-width: 100%;
  }
}


// todo i want tile to auto fill instead of tile-auto.
//.tile-auto {
//  flex-grow: 1;
//  width: auto;
//}

@mixin slinky-tile-fixed($spanColumns, $totalColumns) {

  flex-grow: 0;
  flex-shrink: 0;
  overflow: hidden;

  $percentageWidth: percentage($spanColumns / $totalColumns);

  @include slinky-tile-fixed-width($percentageWidth);

}

@mixin slinky-tile-fixed-width($width) {
  .ie9 & {
    width: $width;
  }
  min-width: $width;
  flex-basis: $width;
}

//@mixin slinky-tile-fixed-with-margin($spanColumns, $totalColumns) {
//  @include slinky-tile-fixed($spanColumns, $totalColumns);
//
//  //$percentageWidth: percentage($spanColumns / $totalColumns);
//  //$calcWidth: calc(#{$percentageWidth} - #{2 * $margin-x});
//
//  //@include slinky-tile-fixed-width($calcWidth);
//}


// Removing these:

//.grid__col,
//[class*='grid__col'] {
//  @include ie9-flex-table-cell;
//  // Flex child.
//  //flex-grow: 1; // allow grid to fill empty space
//  flex-grow: 0;
//  flex-shrink: 0;
//  flex-basis: 0%;
//  align-items: center;
//  justify-content: center;
//  //min-width: percentage(1/$grid-columns);
//
//  // Flex parent.
//  display: flex;
//  flex-direction: column;
//  flex-wrap: nowrap;
//
//  padding: 0;
//  margin: 0;
//}

//.grid__row,
//[class*='grid__row'] {
//  @include ie9-flex-table-cell;
//  // Flex child.
//  justify-content: center;
//  align-items: center;
//  width: 100%;
//
//  // Flex parent.
//  display: flex;
//  flex-direction: row;
//  flex-wrap: nowrap;
//
//  padding: 0;
//  margin: 0;
//}
